@model IEnumerable<kimyatesti.Models.dashboardViewModel>

@{
    ViewBag.Title = "Index";
}

<hr />

@* summary bölümü *@

<div class="container pt-4">
    <div class="row summaryRow">
        <div class="col-md-4">
            <div class="card card-1">
                <div class="card-body">@ViewBag.Summary.SoruCozdun</div>
                <div class="card-text">soru çözdün</div>
            </div>
        </div>
        <div class="col-6 col-md-4 ">
            <div class="card card-1">
                <div class="card-body">@ViewBag.Summary.TestCozdun</div>
                <div class="card-text">test çözdün</div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="card card-1">
                <div class="card-body">@ViewBag.Summary.TestBekliyor</div>
                <div class="card-text">test bekliyor</div>
            </div>
        </div>
    </div>
</div>

@* sıradaki testler *@

<div class="mt-5 shadowy bg-bar col-12">
    <div class="card-header">
        Sıradaki testler
    </div>
</div>

<div class="row cardRow">

    @foreach (var test in Model)
        {
            <div class="col-sm-6 mt-2 mb-2">
                <div class="card card-ds1">
                    <div class="card-body">
                        <h5 class="card-title">@test.testAdi<small class="cardDate"></small></h5>
                        <p class="card-text">@test.testAciklamasi</p>
                    </div>
                    @if (test.testAdi != "")
                    {
                        <div class="container mb-4">
                            <a href="/Utility/AkordiyonTest/?Id=@test.testId&Gr=@test.testGroupId" class="btn btn-custom btn-sm">Teste git</a>
                        </div>
                    }

                </div>
            </div>
        }

</div>
