@model kimyatesti.Models.Register
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AccLayout.cshtml";
}

<div class="container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form">
            <div class="form-control">
                <span>
                    @Html.TextBoxFor(i => i.Name, new { @placeholder = "Adınız" })
                    <i class="fa fa-address-card"></i>
                </span>
                <small>Error message</small>
            </div>
            <div class="form-control">
                <span>
                    @Html.TextBoxFor(i => i.Surname, new { @placeholder = "Soyadınız" })
                    <i class="fa fa-address-card"></i>
                </span>
                <small>Error message</small>
            </div>
            <div class="form-control">
                <span>
                    @Html.TextBoxFor(i => i.Email, new { @placeholder = "E-posta adresiniz" })
                    <i class="fa fa-envelope"></i>
                </span>
                <small>Geçerli bir mail adresi giriniz</small>
            </div>
            <div class="form-control er">
                <span>
                    @Html.TextBoxFor(i => i.Password, new { @placeholder = "Parolanız", type = "password", autocomplete = "off" })
                    <i class="fa fa-lock"></i>
                </span>
                <small></small>
            </div>

            @Html.ValidationSummary()

            <button id="btnSubmit" type="submit">Kaydol</button>
            <div class="loginLinks">
                <a href="/Account/Login">Zaten hesabım var.</a>
            </div>
        </div>
    }
</div>
