@model IEnumerable<kimyatesti.Models.Soru>

@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Konu.Name)*@
                Konu adı
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cevap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tuyo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zorluk)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Konu.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImgPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cevap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tuyo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zorluk)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
